html {
    font-size: 14px;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 10px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.article-summary {
    padding-left: 1em;
}

@media (min-width: 64em) {
    .drawer-navbar {
        height: auto;
    }
}

.footer {
    clear: both;
}

/* Products */
.product-tile .product-tile-status {
    background-color: #B24143;
    margin-top: 25%;
    color: #FFF;
    padding: .5rem 1.25rem;
    margin-top: 20%;
    position: absolute;
    z-index: 2;
}
/*# Image #*/
.product-tile-image {
    overflow: hidden;
    text-align: center;
    position: relative;
    display: block;
    margin: .5rem;
    padding-top: 15%;
    padding-bottom: 25%;
}

    .product-tile-image img {
        height: auto;
        width: 100%;
    }

    .product-tile-image.notavailable img {
        opacity: .4;
        filter: alpha(opacity=40);
        /* msie */
    }
/*# Featured products list #*/
.featured-product .product-tile-image {
    padding: 0;
    margin: 0 2rem 0 2rem;
}
.product-tile-info {
    padding: 1.25rem;
    position: absolute;
    bottom: 0;
}
.featured-product .product-tile-info {
    text-align: left;
    position: absolute;
    padding: 0 0 0 1rem;
    bottom: 0.75rem;
}
/*# Price #*/
.product-tile-price {
    font-size: 1.375rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

